<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1" href="/tabs/tab1" class="tab-icon">
      <ion-icon aria-hidden="true" name="home-sharp"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2" href="/schedule" class="tab-icon">
      <ion-icon aria-hidden="true" name="location-sharp"></ion-icon>
      <ion-label>Location</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3" href="/tabs/tab3" class="tab-icon">
      <ion-icon aria-hidden="true" name="clipboard-sharp"></ion-icon>
      <ion-label>Your details</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab4" href="/tabs/tab4" class="tab-icon">
      <ion-icon aria-hidden="true" name="person-sharp"></ion-icon>
      <ion-label>Add Photo</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="schedule" href="/tabs/schedule" class="tab-icon">
      <ion-icon aria-hidden="true" name="checkmark-sharp"></ion-icon>
      <ion-label>Schedule</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="alloted-list" href="/tabs/alloted-list" class="tab-icon">
      <ion-icon aria-hidden="true" name="clipboard-sharp"></ion-icon>
      <ion-label>List</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>